<%- include('../partials/header') %>

    <p>Shows</p>
    <ul>
        <% shows.forEach(function(t) { %>
        <li>
            <a href="/shows/<%= s.id %>"><%= s.category %></a>
            - 
            <%= t.done ? 'done' : 'not done' %>
        </li>
        <% }); %>
    </ul>

<%- include('../partials/footer')%>