<%- include('./partials/header') %>

    <p>Shows</p>
    <ul>
        <% shows.forEach(function(t) { %>
        <li>
            <form action="/todos/<%= t.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
            <a href="/shows/<%= s.id %>"><%= s.category %></a>
            - 
            <%= t.done ? 'done' : 'not done' %>
        </li>
        <% }); %>
    </ul>
    <a href="/shows/new">Add Show</a>

<%- include('./partials/footer')%>